@font-face {
	font-family: "Ubuntu";
	src: url("../assets/fonts/ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}
body {
	background-color: #eeeeee;
}
a {
	color: #000;
}

.wrapper {
	font-family: "Roboto";
	max-width: 1024px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	box-sizing: border-box;
}
.main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.main__filling {
	display: flex;
}
.aside {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 35%;
	background: radial-gradient(77.33% 77.33% at 88.79% 47.13%, #efefef 0%, #c5c5c5 100%);
}
.aside__photo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.photo__avatar {
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 275px;
	height: 275px;
	background-color: #fdf4e7;
	border-radius: 50%;
}
.avatar__picture {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.block {
	background: #fdf4e8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 18px;
	margin-right: 28px;
	margin-left: 28px;
	margin-bottom: 40px;
}
.head {
	font-size: 26px;
	padding-top: 11px;
	padding-bottom: 9px;
}
.underline {
	background-color: #000;
	height: 1px;
	width: 262px;
	margin-top: 9px;
	margin-left: 20px;
}
.fa-address-book,
.fa-earth-europe,
.fa-brain,
.fa-square-check {
	font-size: 30px;
	margin-left: 26px;
	margin-right: 13px;
}
.contacts__body,
.skills__body,
.characteristics__body {
	margin-left: 30px;
	margin-top: 10px;
	padding-bottom: 25px;
	line-height: 30px;
}

.fa-phone,
.fa-envelope,
.fa-discord {
	margin-right: 12px;
}
.fa-discord {
	margin-right: 7px;
}
.contacts__discord {
	line-height: 23px;
}
.disc {
	margin-left: 30px;
}

.languages__body {
	margin: 10px 0 0px 30px;
	padding-bottom: 17px;
	line-height: 30px;
	max-width: 230px;
}
.languages__english,
.languages__russian,
.languages__belarusian {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.progress {
	display: flex;
	justify-content: space-between;
	width: 100px;
}
.progress__one-circle {
	width: 14px;
	height: 14px;
	background-color: #000;
	border-radius: 50%;
}
.progress__two-circle {
	width: 14px;
	height: 14px;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 50%;
}
.content {
	width: 65%;
}
.content__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 68px 0 70px 0;
	background: linear-gradient(180deg, #ffedd7 0%, #ffffff 113.9%);
	font-family: "Ubuntu";
}
.header__name {
	font-size: 48px;
	line-height: 83px;
	color: #8c8787;
	margin-bottom: 20px;
}
.header__specialize {
	font-size: 24px;
	line-height: 37px;
	color: #b9b6b6;
}

.skills__list li,
.characteristics__list li {
	background: url("../assets/img/li.svg") left no-repeat;
	padding: 0 0 0 25px;
}
.content__body {
	max-width: 588px;
	margin: 0 auto;
	margin-top: 35px;
}
.education__head {
	font-size: 24px;
	line-height: 28px;
	color: #8c8787;
}
.underline-2 {
	border-bottom: 1px solid #8c8787;
	margin-top: 13px;
	/* background-color: #8C8787;
	height: 1px;
	width: 262px;
	margin-top: 9px;
	margin-left: 20px; */
}
.edication__body{
	max-width: 556px;
	margin: 0 auto;
	font-size: 16px;
}
.edication__chapter{
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	line-height: 23px;
}
.place-of-study{
	font-weight: 700;
}
.chapter__years p{
	font-size: 12px;
	color: #7A7A7A;
}